<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>invesdwin-nowicket-examples-war</display-name>

	<listener>
		<listener-class>org.apache.isis.core.webapp.IsisWebAppBootstrapper</listener-class>
	</listener>
	
	<!-- authenticate user, set up an Isis session -->
	<filter>
		<filter-name>IsisSessionFilterForRestfulObjects</filter-name>
		<filter-class>org.apache.isis.core.webapp.IsisSessionFilter</filter-class>
		<!-- authentication required for REST -->
		<init-param>
			<param-name>authenticationSessionStrategy</param-name>
			<param-value>org.apache.isis.viewer.restfulobjects.server.authentication.AuthenticationSessionStrategyTrusted</param-value>
		</init-param>
		<init-param>
			<!-- what to do if no session was found... -->
			<param-name>whenNoSession</param-name>
			<!-- ... 401 and a basic authentication challenge if request originates 
				from web browser -->
			<param-value>auto</param-value>
		</init-param>
		<init-param>
			<param-name>passThru</param-name>
			<param-value>/restful/swagger</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<!-- this is mapped to the entire app; however the IsisSessionFilter will 
			"notice" if the session filter has already been executed for the request 
			pipeline, and if so will do nothing -->
		<filter-name>IsisSessionFilterForRestfulObjects</filter-name>
		<servlet-name>RestfulObjectsRestEasyDispatcher</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>IsisTransactionFilterForRestfulObjects</filter-name>
		<filter-class>org.apache.isis.viewer.restfulobjects.server.webapp.IsisTransactionFilterForRestfulObjects</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IsisTransactionFilterForRestfulObjects</filter-name>
		<servlet-name>RestfulObjectsRestEasyDispatcher</servlet-name>
	</filter-mapping>

	<filter>
		<filter-name>wicket</filter-name>
		<filter-class>de.invesdwin.nowicket.examples.isis.ExampleWicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>de.invesdwin.nowicket.examples.isis.ExampleWebApplication
			</param-value>
		</init-param>
		<init-param>
			<param-name>filterMappingUrlPattern</param-name>
			<param-value>/*</param-value>
		</init-param>
		<init-param>
			<!-- enable production error-pages with "deployment" -->
			<param-name>configuration</param-name>
			<param-value>development</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>wicket</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<error-page>
		<!-- Missing login -->
		<error-code>401</error-code>
		<location>/accessdenied</location>
	</error-page>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/accessdenied</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/pagenotfound</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>410</error-code>
		<location>/pageexpired</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<location>/internalerror</location>
	</error-page>
	
</web-app>
