.wicket-ajax-indicator
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background-color: #FFFFFF;
    z-index: 99999;
    overflow: auto;
    cursor: wait;
}

.wicket-ajax-indicator img
{
    position: absolute;
    top: 47%;
    left: 50%;
}