<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<link rel="stylesheet"
	href="http://cristurm.github.io/nyan-cat/css/nyan.css" />
</head>
<body>
	<div class="sparks-combo">
		<div class="spark"></div>
		<div class="spark"></div>
		<div class="spark"></div>
		<div class="spark"></div>
	</div>

	<div id="wave-a" class="hot rainbow"></div>
	<div id="wave-a" class="cold rainbow"></div>

	<div id="wave-b" class="hot rainbow"></div>
	<div id="wave-b" class="cold rainbow"></div>

	<div id="nyan-cat" class="frame1">
		<div id="tail"></div>

		<div id="paws"></div>

		<div id="pop-tarts-body">
			<div id="pop-tarts-body-cream"></div>
		</div>

		<div id="head">
			<div id="face"></div>
		</div>
	</div>

	<audio autoplay="true" loop="true">
		<source src="http://cristurm.github.io/nyan-cat/audio/nyan-cat.ogg"
			type="audio/ogg" />
		<source src="http://cristurm.github.io/nyan-cat/audio/nyan-cat.mp3"
			type="audio/mpeg" />
	</audio>

	<!-- Libs -->
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<!-- Nyan Stuff -->
	<script src="http://cristurm.github.io/nyan-cat/js/nyan.js"></script>
</body>
</html>
